<h1 class="title is-3 has-text-white">Rate my anxiety/depression</h1>

<br>
<div class="columns">
	<div class="column is-two-thirds">

		<%= render 'form' %>

	</div>
	<div class="column is-one-third">
		<blockquote>
			<h3 class="title is-3 has-text-white">
				<%= @quote %>
			</h3>
		</blockquote>
	</div>

</div>



<br>

<h1 class="title is-3 has-text-white">How has my mood changed over time?</h1>

<%= area_chart Mood.group_by_day(:created_at).average(:score),
							 library: { chart: { backgroundColor: nil },
													yAxis: { gridLineColor: nil,
																	 labels: {
																	 		style: {
																	 			color: 'white'
																	 		}
																	 	}
																	},
													xAxis: { gridLineColor: nil,
																	 labels: {
																	 		style: {
																	 			color: 'white'
																	 		}
																	 	}
																	},
													plotOptions: {
														series: {
															color: '#540D6E'
														}
													}
												}
%>