body {
	background-size: contain;
	background-color: #F3FCF0;
	background: image-url("bg2.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

blockquote {
border:none;
quotes: "\201C""\201D""\2018""\2019";
}

blockquote h3 {
	font-size:21px;
	color:#fff;
}

blockquote h3:before {
	content: open-quote;
	font-weight: bold;
	font-size:50px;
	color:#fff;
}
blockquote h3:after {
	content: close-quote;
	font-weight: bold;
	font-size:50px;
	color:#fff;
}