<!DOCTYPE html>
<html>
  <head>
    <title>Mood Catcher</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  	<nav class="navbar" role="navigation" aria-label="main navigation">

      <div class="navbar-brand">
        <a class="navbar-item" href="./">
          Mood Catcher
        </a>
      </div>

    </nav>

    <div class="section">
      <%= yield %>
    </div>

  </body>
</html>
